{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'reminder/styles/registration_login.css' %}">
{% endblock %}

{% block main_heading %}
  Sign up
{% endblock %}
{% block header_content %}
  Already have an account? Or want to sign in through your google account?
  <a href="{% url 'login' %}">Click here</a>
{% endblock %}

{% block content %}
  <form method="POST" class="form-with-validation">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-field">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="form-errors">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button class="form-submit">Submit</button>
</form>
{% endblock %}